NODE_ENV=development
PORT=4000
CORS_ORIGIN=*

LOG_LEVEL=info

JWT_ACCESS_SECRET=replace_with_long_random_string_at_least_20_chars
JWT_REFRESH_SECRET=replace_with_long_random_string_at_least_20_chars

STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me

FIREBASE_PROJECT_ID=store-cuzzycrew-com
FIREBASE_SERVICE_ACCOUNT_PATH=store-cuzzycrew-com-firebase-adminsdk-xxxx.json
FIREBASE_SERVICE_ACCOUNT_JSON=

RATE_LIMIT_GLOBAL_MAX=600
